@use "/src/styles/partials/fonts" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  margin: 0;
  font-family: "Outfit";
  background-color: $primary3;
}

.title {
  font-family: "NewsReader";
  font-size: 3.25rem;
  font-weight: lighter;
  font-style: normal;

  &__i {
    font-style: italic;
  }
}

.container {
  @include tablet {
    display: flex;
  }
}
