@use "/src/styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  background-color: $secondary2;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__photo {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
  }

  // &__content {
  //   padding: 0.75rem 0;
  // }

  // &__title {
  //   font-weight: bold;
  //   text-align: right;
  //   background-color: white;
  //   padding: 4px 8px;
  //   border-radius: 8px;
  //   display: flex;
  // }
}

.tag-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.tag {
  color: $primary1;
  background-color: $secondary3;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
