@use "/src/styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
  background-color: $secondary2;
  border-radius: 1rem;
  border: 1px solid $secondary1;
  padding: 1rem;
  max-width: 25rem;

  &__photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
  }

  // &__content {
  //   padding: 0.75rem 0;
  // }

  // &__title {
  //   font-weight: bold;
  //   text-align: right;
  //   background-color: white;
  //   padding: 4px 8px;
  //   border-radius: 8px;
  //   display: flex;
  // }
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.75rem;
}

.tag {
  display: inline-flex;
  align-items: center;
  color: $primary1;
  background-color: $secondary3;
  padding: 0.25rem 0.75rem;
  border: 1px solid $secondary1;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
