@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

Link {
  text-decoration: none;
}

.header__title {
  font-family: "NewsReader";
  font-size: 3.25rem;
  font-weight: lighter;
  font-style: normal;
  color: $primary1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-btn.closed {
  font-family: "Outfit";
  color: $primary2;
  background-color: $primary3;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid $primary2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filters-btn.open {
  font-family: "Outfit";
  color: $secondary3;
  background-color: $primary2;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid $primary2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

img {
  width: 0.75rem;
  height: 0.75rem;
}
