@use "/src/styles/partials/fonts" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.comments-section {
  margin: auto;
  max-width: 60rem;

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.comment {
  border-bottom: 1px solid $secondary1;

  &__name {
    font-size: 1rem;
    color: $primary2;
  }

  &__date {
    font-size: 1rem;
    color: $primary2;
  }

  &__text {
    color: $primary1;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $secondary1;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
}
