@use "./../../styles/partials/fonts" as *;
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding: 0 1rem;
  margin: 0;
  font-family: "Outfit";
  background-color: $primary3;
}

.main {
  &__title {
    font-weight: 300;
    color: $primary1;
  }

  &__sub-title {
    font-family: "NewsReader";
    font-size: 3.25rem;
    font-weight: lighter;
    font-style: normal;

    &--i {
      font-style: italic;
    }

    @include desktop {
      max-width: 80%;
    }
  }
}

.container {
  @include tablet {
    display: flex;
  }
}
